In [1]:
# Dataset is already in repo folder 'Data'

import pandas as pd

raw = pd.read_csv("../Data/00 - raw.csv")
raw.columns = [col.lower() for col in raw.columns]
raw.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [2]:
# Encode and drop 'rad'
encoded = pd.get_dummies(raw.rad,dtype=int)
unencoded = raw.drop("rad",axis=1)

raw_enc = pd.concat([unencoded,encoded],axis=1)
raw_enc.columns = raw_enc.columns.astype(str)           # The numeric encoded headers will throw an error during GridSearch later
raw_enc.drop_duplicates(inplace=True)             # Just to be sure
raw_enc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   tax      506 non-null    float64
 9   ptratio  506 non-null    float64
 10  b        506 non-null    float64
 11  lstat    506 non-null    float64
 12  medv     506 non-null    float64
 13  1        506 non-null    int64
 14  2        506 non-null    int64
 15  3        506 non-null    int64
 16  4        506 non-null    int64
 17  5        506 non-null    int64
 18  6        506 non-null    int64
 19  7        506 non-null    int64
 20  8        506 non-null    int64
 21  24       506 non-null    int64
dtypes: float64(12), int64(10)
memory usage: 87.1 KB

In [3]:
raw_enc.describe().T

,count,mean,std,min,25%,50%,75%,max
crim,506.0,3.613524,8.601545,0.00632,0.082045,0.25651,3.677083,88.9762
zn,506.0,11.363636,23.322453,0.00000,0.000000,0.00000,12.500000,100.0000
indus,506.0,11.136779,6.860353,0.46000,5.190000,9.69000,18.100000,27.7400
chas,506.0,0.069170,0.253994,0.00000,0.000000,0.00000,0.000000,1.0000
nox,506.0,0.554695,0.115878,0.38500,0.449000,0.53800,0.624000,0.8710
rm,506.0,6.284634,0.702617,3.56100,5.885500,6.20850,6.623500,8.7800
age,506.0,68.574901,28.148861,2.90000,45.025000,77.50000,94.075000,100.0000
dis,506.0,3.795043,2.105710,1.12960,2.100175,3.20745,5.188425,12.1265
tax,506.0,408.237154,168.537116,187.00000,279.000000,330.00000,666.000000,711.0000
ptratio,506.0,18.455534,2.164946,12.60000,17.400000,19.05000,20.200000,22.0000
b,506.0,356.674032,91.294864,0.32000,375.377500,391.44000,396.225000,396.9000
lstat,506.0,12.653063,7.141062,1.73000,6.950000,11.36000,16.955000,37.9700
medv,506.0,22.532806,9.197104,5.00000,17.025000,21.20000,25.000000,50.0000
1,506.0,0.039526,0.195035,0.00000,0.000000,0.00000,0.000000,1.0000
2,506.0,0.047431,0.212769,0.00000,0.000000,0.00000,0.000000,1.0000
3,506.0,0.075099,0.263812,0.00000,0.000000,0.00000,0.000000,1.0000
4,506.0,0.217391,0.412879,0.00000,0.000000,0.00000,0.000000,1.0000
5,506.0,0.227273,0.419485,0.00000,0.000000,0.00000,0.000000,1.0000
6,506.0,0.051383,0.220997,0.00000,0.000000,0.00000,0.000000,1.0000
7,506.0,0.033597,0.180367,0.00000,0.000000,0.00000,0.000000,1.0000
8,506.0,0.047431,0.212769,0.00000,0.000000,0.00000,0.000000,1.0000
24,506.0,0.260870,0.439543,0.00000,0.000000,0.00000,1.000000,1.0000

In [4]:
# 'age' is a proportion according to data dictionary but it is in percentage format rather than decimal
raw_enc['age'] = raw_enc['age'] / 100
raw_enc["age"].describe().T

count    506.000000
mean       0.685749
std        0.281489
min        0.029000
25%        0.450250
50%        0.775000
75%        0.940750
max        1.000000
Name: age, dtype: float64

In [11]:
# Subset data into X, y then train/test split
from sklearn.model_selection import train_test_split

X = raw_enc.drop("medv",axis=1)
y = raw_enc["medv"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

In [12]:
# Perform log transformation first for extremely non-linear
from sklearn.preprocessing import FunctionTransformer
import numpy as np

log_trans = ["b", "tax"]

X_train[log_trans] = FunctionTransformer(np.log).fit_transform(X_train[log_trans])

X_train.describe().T

,count,mean,std,min,25%,50%,75%,max
crim,404.0,3.609125,8.875058,0.009060,0.081437,0.261390,3.202962,88.976200
zn,404.0,11.569307,23.152481,0.000000,0.000000,0.000000,20.000000,100.000000
indus,404.0,10.985050,6.894618,0.740000,5.130000,8.560000,18.100000,27.740000
chas,404.0,0.071782,0.258447,0.000000,0.000000,0.000000,0.000000,1.000000
nox,404.0,0.556484,0.117704,0.385000,0.452000,0.538000,0.631000,0.871000
rm,404.0,6.315891,0.709452,3.863000,5.890500,6.210000,6.636750,8.780000
age,404.0,0.685564,0.279949,0.029000,0.455500,0.777000,0.936500,1.000000
dis,404.0,3.808195,2.131226,1.129600,2.087875,3.175750,5.400800,12.126500
tax,404.0,5.922294,0.392908,5.231109,5.631212,5.799093,6.501290,6.566672
ptratio,404.0,18.318317,2.228701,12.600000,16.800000,18.700000,20.200000,22.000000
b,404.0,5.745954,0.791746,-1.139434,5.928185,5.969487,5.980795,5.983684
lstat,404.0,12.457351,7.110381,1.730000,6.772500,10.925000,16.372500,37.970000
1,404.0,0.042079,0.201019,0.000000,0.000000,0.000000,0.000000,1.000000
2,404.0,0.051980,0.222262,0.000000,0.000000,0.000000,0.000000,1.000000
3,404.0,0.079208,0.270398,0.000000,0.000000,0.000000,0.000000,1.000000
4,404.0,0.198020,0.399001,0.000000,0.000000,0.000000,0.000000,1.000000
5,404.0,0.232673,0.423060,0.000000,0.000000,0.000000,0.000000,1.000000
6,404.0,0.056931,0.231997,0.000000,0.000000,0.000000,0.000000,1.000000
7,404.0,0.037129,0.189312,0.000000,0.000000,0.000000,0.000000,1.000000
8,404.0,0.051980,0.222262,0.000000,0.000000,0.000000,0.000000,1.000000
24,404.0,0.250000,0.433550,0.000000,0.000000,0.000000,0.250000,1.000000

In [13]:
# Scale X_train data
# All inputs will be transformed but only X_train is fit
# Only scale measure data less age!

nums = X_train.select_dtypes(include=float).columns.to_list()
nums.remove('age')
X_train[nums].info()

<class 'pandas.core.frame.DataFrame'>
Index: 404 entries, 477 to 102
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     404 non-null    float64
 1   zn       404 non-null    float64
 2   indus    404 non-null    float64
 3   nox      404 non-null    float64
 4   rm       404 non-null    float64
 5   dis      404 non-null    float64
 6   tax      404 non-null    float64
 7   ptratio  404 non-null    float64
 8   b        404 non-null    float64
 9   lstat    404 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

In [14]:
# Verify that the features being excluded from scaling
non_nums = X_train.select_dtypes(exclude=float).columns.to_list()
non_nums.append("age")
X_train[non_nums].info()

<class 'pandas.core.frame.DataFrame'>
Index: 404 entries, 477 to 102
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   chas    404 non-null    int64
 1   1       404 non-null    int64
 2   2       404 non-null    int64
 3   3       404 non-null    int64
 4   4       404 non-null    int64
 5   5       404 non-null    int64
 6   6       404 non-null    int64
 7   7       404 non-null    int64
 8   8       404 non-null    int64
 9   24      404 non-null    int64
 10  age     404 non-null    float64
dtypes: float64(1), int64(10)
memory usage: 37.9 KB

In [15]:
# Scale X features that are float, since all ints are boolean
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaled_X_train = X_train.copy()
scaled_X_train[nums] = scaler.fit_transform(scaled_X_train[nums])   # Fit/scale only to numeric training data

scaled_X_test = X_test.copy()
scaled_X_test[log_trans] = FunctionTransformer(np.log).transform(scaled_X_test[log_trans])
scaled_X_test[nums] = scaler.transform(scaled_X_test[nums])         # Scale only numeric test data     

scaled_X_train.describe().T

,count,mean,std,min,25%,50%,75%,max
crim,404.0,-2.638154e-17,1.001240,-0.406141,-0.397976,-0.377675,-0.045821,9.630689
zn,404.0,0.000000e+00,1.001240,-0.500320,-0.500320,-0.500320,0.364589,3.824227
indus,404.0,-4.177077e-17,1.001240,-1.487791,-0.850273,-0.352167,1.033237,2.433163
chas,404.0,7.178218e-02,0.258447,0.000000,0.000000,0.000000,0.000000,1.000000
nox,404.0,-5.111423e-16,1.001240,-1.458711,-0.888783,-0.157233,0.633861,2.675394
rm,404.0,-2.616169e-16,1.001240,-3.461733,-0.600349,-0.149443,0.452824,3.477564
age,404.0,6.855644e-01,0.279949,0.029000,0.455500,0.777000,0.936500,1.000000
dis,404.0,5.248827e-17,1.001240,-1.258391,-0.808198,-0.297120,0.748198,3.907900
tax,404.0,2.782703e-15,1.001240,-1.761337,-0.741761,-0.313953,1.475444,1.642057
ptratio,404.0,8.519038e-16,1.001240,-2.568944,-0.682101,0.171470,0.845343,1.653990
b,404.0,2.704108e-16,1.001240,-8.707245,0.230449,0.282679,0.296979,0.300633
lstat,404.0,-1.791746e-16,1.001240,-1.510559,-0.800506,-0.215776,0.551307,3.592534
1,404.0,4.207921e-02,0.201019,0.000000,0.000000,0.000000,0.000000,1.000000
2,404.0,5.198020e-02,0.222262,0.000000,0.000000,0.000000,0.000000,1.000000
3,404.0,7.920792e-02,0.270398,0.000000,0.000000,0.000000,0.000000,1.000000
4,404.0,1.980198e-01,0.399001,0.000000,0.000000,0.000000,0.000000,1.000000
5,404.0,2.326733e-01,0.423060,0.000000,0.000000,0.000000,0.000000,1.000000
6,404.0,5.693069e-02,0.231997,0.000000,0.000000,0.000000,0.000000,1.000000
7,404.0,3.712871e-02,0.189312,0.000000,0.000000,0.000000,0.000000,1.000000
8,404.0,5.198020e-02,0.222262,0.000000,0.000000,0.000000,0.000000,1.000000
24,404.0,2.500000e-01,0.433550,0.000000,0.000000,0.000000,0.250000,1.000000

In [16]:
# Export all datasets
data_path = "../Data/"

scaled_X_train.to_csv(data_path + "X_train.csv", index=False)
scaled_X_test.to_csv(data_path + "X_test.csv", index=False)
y_train.to_csv(data_path + "y_train.csv", index=False)
y_test.to_csv(data_path + "y_test.csv", index=False)